services:
  mysql:
    image: mysql:8.0
    container_name: demo-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: demo
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    image: cyrineadmin/devops-spring-demo:latest
    container_name: demo-app
    depends_on:
      - mysql
    ports:
      - "8082:8080"

volumes:
  mysql_data:
